<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color: orange;">
    <h1 style="color: #202020;">Hello ! Welcome to Contact Page !</h1>
    <% include partials/nav.ejs %>
    <form id="contact-form" class="" action="/contact" method="post">
      <label for="who"></label>
      <input type="text" name="who" value="<%= qs.person %>">
      <label for="department"></label>
      <input type="text" name="department" value="<%= qs.dept %>">
      <label for="email"></label>
      <input type="email" name="email">
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
