<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color: orange;">
    <h1 style="color: #202020; text-align: center">Success! Contacting Info Submitted!!!</h1>
    <p style="color: #202020; text-align: center">Thanks for getting in touch!</p>
    <p style="color: #202020; text-align: center">You contacted <%= data.who %> in the <%= data.department %> department</p>
    <p style="color: #202020; text-align: center">We will reply you <%= data.email %> address</p>
  </body>
</html>
